@mixin about {
    background: #f6f6f6;
    text-align: center;
    padding: 40px 30px;
}

@mixin btn-about {
    cursor: pointer;
    border: 0px solid transparent;
    background: linear-gradient($color-secondary, $color-primary);;
    color: #fff;
    box-shadow: 0px 6px 10px rgb(199, 199, 199);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
   }

@mixin card {
    border-radius: 25px;
    box-shadow: 0px 6px 10px rgb(199, 199, 199);
    margin: 1rem;
    position: relative;
    background: #fff;
}

@mixin card-img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    max-height: 180px;
    }

@mixin card-figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 4px lightgrey;
    border-radius: 0 0 25px 25px;
    padding: 10px 20px 10px 15px;
    line-height: 1.5;
}