$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-btn: linear-gradient(176deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 85%);

$background-color: #f6f6f6;
$background-color-city: #eaeaea;
$background-color-operation: #f5edff;
$background-color-footer: #353535;

$font-color-primary: #fff;
$font-color-secondary: #7e7e7e;
$font-color-new: #008766;

$color-shadow: rgb(199,199,199);