.city {
    background: $background-color-city;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 20px 0;
    &__icon{
        padding-right: 10px;
    }
}

.about {
    @include about;
    h1 {
        font-weight: bold;
        padding-bottom: 10px;
    }
    p {
        color: $font-color-secondary;
        padding-bottom: 2rem;
    }
}

.operation {
    margin-bottom: 5rem;
    @include for-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3rem 0;
    }
    &__title {
        padding: 3.5rem 0 0 1rem;
    }
    &__step {
        @include box-shadow;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: $background-color;
        border-radius: 25px;
        padding: 1.5rem 0rem;
        padding-right: 1.5rem;
        margin: 2rem 1rem 2rem 2rem;
        &:hover {
            background: $background-color-operation;
            transition: .3s;
        }
        &__number {
            @include number;
        }
        & i {
            color: $font-color-secondary;
        }
        & p {
            margin-left: 30px;
        }
    }
}

.restaurants {
    background: $background-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    @include for-tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title {
    padding: 3rem 1rem 1rem 1rem;
    @include for-tablet {
        flex: 100%;
        text-align: center;
    }
    }
}

.card {
    @include card;
    & img {
        @include card-img ;
    }
    &__legend {
        @include card-figcaption;
    }
    &__new {
        background-color: $color-tertiary;
        color: $font-color-new;
        padding: 5px 12px;
        border-radius: 2px;
        position: absolute;
        top: 7%;
        right: 5%;
    }
    @include for-tablet {
        width: 40%;
    }
    @include for-desktop{
        width: 22%;
    }
}