.city {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 20px 0;
    &__icon{
        padding-right: 10px;
    }
}

.about {
    @include about;
    h1 {
        font-weight: bold;
        padding-bottom: 10px;
    }
    p {
        color: #717171;
        padding-bottom: 2rem;
    }
}

.operation__title {
    padding: 2rem 0 1rem 1rem;
}

.operation__step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;
    border: 5px solid #f6f6f6;
    border-radius: 25px;
    box-shadow: 0px 6px 10px rgb(199, 199, 199);
    padding: 1.5rem 0rem;
    margin: 0.5rem 1rem 1.5rem 2rem;
    &__number {
        @include number;
    &:hover {
        background-color: rgb(245, 237, 255);
    }
    }
}

.operation__step i {
    color: #7e7e7e ;
}

.operation__step p {
    margin-left: 30px;
}

.restaurants {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    &__title {
    padding: 2rem 0 0 1rem;
    }
}

.card {
    @include card;
    &__new {
        background-color: $color-tertiary;
        color: rgb(0,135,102);
        padding: 5px 12px;
        border-radius: 2px;
        position: absolute;
        top: 7%;
        right: 5%;
    }
}

.card img {
    @include card-img ;
}

.card__legend {
    @include card-figcaption;
}

.heart {
    font-weight: normal;
}