.header__nav a {
    position: fixed;
    top: 22px;
    left: 1.5rem;
}

.header__img img {
    object-fit: cover;
    height: 275px;
    width: 100%;
}

.menu {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

.menu__title {
    font-family: Shrikhand, sans-serif;
    font-size: 90%;
    padding: 2rem 0 0 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__title i {
    padding-left: 1.5rem;
}

.dish {
    @include card;
    padding: 10px;
}

.dish {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dish h3 {
    flex: 0 0 100%;
    padding-bottom: 10px;
}

.dish p {
    flex: 1;
    font-weight: 300;
}

.dish span {
    font-weight: bold;
}

.starter__title, .mainCourses__title, .dessert__title {
    @include title;
    h2 {
        font-weight: 300;
        padding-top: 2rem;
        padding-bottom: 6px;
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
    }
}