.footer {
    background: $background-color-footer;
    color: $font-color-primary;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    &__title {
        font-family: Shrikhand, sans-serif;
        padding-bottom: 1rem;
        font-size: 120%;
    }
    &__nav a {
        color: $font-color-primary;
        line-height: 2rem;
    }
    &__nav i {
        margin-right: 10px;
        width: 15px;
    }
}

.fa-utensils {
    font-size: medium;
}

.fa-hands-helping {
    font-size: small;
}